@use "sass:color";

@import "./tailwind.css";

body {
  font-family: "Inter", sans-serif;
  background: #fdfdfd;
  color: #111;
}

.header {
  padding: 2rem;
  border-bottom: 1px solid #ddd;
}

header {
    color: #ff002f
}
